#root {
  /* max-width: 1280px; */
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  height: auto;
  padding: 2rem;
  background-color: #282726;
  /* text-align: center; */
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 8px 0 black; */
  /* background-color: red; */
}

main {
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
  padding-block: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

section.farewell-message > div, 
section.word, section.word > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header Section */
section.header {
  max-width: 350px;
  margin: 0 auto;
}

.header h1 {
  font-size: 1.6rem;
  color: #F9F4DA;
  font-weight: 500;
}

.header p {
  color: #8E8E8E;
  font-size: 0.9rem;
}

/* Farewell Message Section */
section.farewell-message {
  height: 60px;
}

section.farewell-message > div {
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-style: italic;
  font-size: 1.1rem;
  background-color: #7A5EA7;
  border: 1px dashed #282726;
  border-radius: 5px;
}

.farewell-message > div.lost{
  background-color: #BA2A2A;
  border: none;
  font-style: normal;
}

.farewell-message > div.won{
  background-color: #10A95B;
  border: none;
  font-style: normal;
}

section.language-chips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.2em;
  max-width: 350px;
  margin: 0em auto;
}

.language-chips .chip {
  padding: 0.1em 0.4em;
  border-radius: 4px;
  position: relative;
}

.language-chips span.wrong::before {
  position: absolute;
  content: "💀";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Word Section */
section.word {
  max-width: 350px;
  color: #F9F4DA;
  gap: 0.2em;
  margin: 0 auto;
}

section.word > span {
  width: 40px;
  height: 40px;
  background-color: #323232;
  border-bottom: 1px solid #F9F4DA;
  font-size: 1.1rem;
  font-weight: 500;
}

/* Keyboard Section */
.keyboard {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.125em;
}

section.disable {
  opacity: 0.7;
  pointer-events: none;
  cursor: not-allowed;
}

.keyboard button {
  width: 45px;
  height: 45px;
  background-color: #FCBA29;
  border-radius: 15px;
}

.keyboard button:hover {
  background-color: #1A1A1A;
  color: #fff;
}

.keyboard button.correct {
  background-color: #10A95B;
}

.keyboard button.incorrect {
  background-color: #EC5D49;
}

/* New game button */
section.new-game {
  height: 50px;
}

.new-game-btn {
  padding-block: 0.6em;
  background-color: #11B5E5;
  color: #1E1E1E;
  font-size: 1.1rem;
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
  border: none;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.5);
}